@model Tuple<IEnumerable<SelectListItem>, IEnumerable<SelectListItem>, IEnumerable<SelectListItem>>
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Items").val(0);

        $("#Items").change(function () {
            var itemId = $("#Items").val();
            GetItemUnitPrice(itemId);
        });

        $("input[type=text]").change(function () {
            CalculateSubTotal();
        });

        $("input[type=text]").keyup(function () {
            CalculateBalance();
        });

        $("#btnAddToList").click(function () {
            AddToTheItemList();
        });

        $("#btnPayment").click(function () {
            FinalPayment();
        });
    });

    function FinalPayment() {
        var objOrdersViewModel = {};
        var ListOfOrderDetailViewModel = new Array();
        //OrderDetailViewModel
        objOrdersViewModel.ODEMESEKLIID = $("#PaymentType").val();
        objOrdersViewModel.MUSTERIID = $("#Customer").val();
        objOrdersViewModel.FINALTOTAL = $("#txtFinalTotal").val();

        $("#tblRestaurantItemList").find("tr:gt(0)").each(function () {
            var OrderDetailViewModel = {};
            OrderDetailViewModel.Total = parseFloat($(this).find("td:eq(5)").text());
            OrderDetailViewModel.ItemId = parseFloat($(this).find("td:eq(0)").text());
            OrderDetailViewModel.UnitPrice = parseFloat($(this).find("td:eq(2)").text());
            OrderDetailViewModel.Quantity = parseFloat($(this).find("td:eq(3)").text());
            OrderDetailViewModel.Discount = parseFloat($(this).find("td:eq(4)").text());
            ListOfOrderDetailViewModel.push(OrderDetailViewModel);

        });
        objOrdersViewModel.ListOfOrderDetailViewModel = ListOfOrderDetailViewModel;

        $.ajax({
            async: true,
            type: 'POST',
            datatype: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(objOrdersViewModel),
            url: '/Home/Index',
            success: function (data) {
                alert(data);
            },
            error: function () {
                alert("There is some problem to adding the data.")
            }
        })
    }

    function CalculateBalance() {
        var FinalAmount = $("#txtPaymentTotal").val();
        var PaymentAmount = $("#txtPaymentAmount").val();
        var ReturnAmount = $("#txtReturnTotal").val();
        var BalanceAmount = parseFloat(FinalAmount) - parseFloat(PaymentAmount) + parseFloat(ReturnAmount);
        $("#txtBalance").val(parseFloat(BalanceAmount).toFixed(2));
        if (parseFloat(BalanceAmount) == 0) {
            $("#btnPayment").removeAttr("disabled");
        } else {
            $("#btnPayment").attr("disabled", "disabled");
        }
    }

    function RemoveItem(itemId) {
        $(itemId).closest('tr').remove();

    }

    function AddToTheItemList() {
        var tblItemList = $("#tblRestaurantItemList");
        var UnitPrice = $("#txtUnitPrice").val();
        var Quantity = $("#txtQuantity").val();
        var Discount = $("#txtDiscount").val();
        var ItemId = $("#Items").val();
        var ItemName = $("#Items option:selected").text();

        var Total = (UnitPrice * Quantity) - Discount;

        var ItemList = "<tr><td hidden>"
            + ItemId + "</td><td>"
                + ItemName + "</td><td>"
            + parseFloat(UnitPrice).toFixed(2) + "</td><td>"
            + parseFloat(Quantity).toFixed(2) + "</td><td>"
            + parseFloat(Discount).toFixed(2) + "</td><td>"
            + parseFloat(Total).toFixed(2) + "</td><td> <input type='button' value='Remove' name='remove' class='btn btn-danger' onclick='RemoveItem(this)'/> </tr></tr> ";

        tblItemList.append(ItemList);
        FinalItemTotal();
        ResetItem();
    }

    function FinalItemTotal() {
        $("#txtFinalTotal").val("0.00");
        var FinalTotal = 0.00;
        $("#tblRestaurantItemList").find("tr:gt(0)").each(function () {
            var Total = parseFloat($(this).find("td:eq(5)").text());
            FinalTotal += Total;
        });
        $("#txtFinalTotal").val(parseFloat(FinalTotal).toFixed(2));
        $("#txtPaymentTotal").val(parseFloat(FinalTotal).toFixed(2));
        $("#txtBalance").val(parseFloat(FinalTotal).toFixed(2));
    }

    function ResetItem() {
        $("#txtUnitPrice").val('');
        $("#txtQuantity").val('');
        $("#txtDiscount").val('0.00');
        $("#Items").val(0);
        $("#txtTotal").val("");
    }

    function CalculateSubTotal() {
        var UnitPrice = $("#txtUnitPrice").val();
        var Quantity = $("#txtQuantity").val();
        var Discount = $("#txtDiscount").val();

        var Total = (UnitPrice * Quantity) - Discount;

        $("#txtTotal").val(parseFloat(Total).toFixed(2));
    }

    function GetItemUnitPrice(itemId) {
        $.ajax({
            async: true,
            type: 'GET',
            datatype: 'JSON',
            contentType: 'application/json; charset=unf-8',
            data: { itemId: itemId },
            url: '/Home/getItemUnitPrice',
            success: function (data) {
                $("#txtUnitPrice").val(parseFloat(data).toFixed(2));
            },
            error: function () {
                alert("There is some problem to get the Unit Price.");
            }
        });
    }
</script>

<style>

    .modal {
        text-align: center;
        padding: 0!important;
    }
    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: lightgray;
        padding-left: 10px !important;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #808080;
    }
</style>

<br />
<br />
<fieldset>
    <legend>
        RESTAURANT
    </legend>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:black">MÜŞTERİLER</h3>
                    @Html.DropDownList("Musteri", new SelectList(Model.Item1, "Value", "Text"),
        new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:black">ÖDEME ŞEKLİ</h3>
                    @Html.DropDownList("OdemeSekli", new SelectList(Model.Item3, "Value", "Text"),
        new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:black">TOPLAM TUTAR</h3>
                    <input style="text-align:right" type="text" value="0.00" name="FinalTotal" readonly="readonly" id="txtFinalTotal" class="form-control"/>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<hr />

<fieldset>
    <legend>
        RESTAURANT HESAP
    </legend>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:black">YEMEKLER</h3>
                    @Html.DropDownList("Items", new SelectList(Model.Item2, "Value", "Text"),
        new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:black">BİRİM FİYAT</h3>
                    <input style="text-align: right" type="text" readonly="readonly" id="txtUnitPrice" value="0.00" name="UnitPrice" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:black">MİKTAR</h3>
                    <input style="text-align: right" type="text" id="txtQuantity" value="0.00" name="Quantity" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:black">İNDİRİM</h3>
                    <input style="text-align: right" type="text" id="txtDiscount" value="0.00" name="Discount" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:black">TOPLAM TUTAR</h3>
                    <input style="text-align: right" type="text" readonly="readonly" id="txtTotal" value="0.00" name="Total" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" style="margin-top: 50px" id="btnAddToList" value="LİSTEYE EKLE" name="AddToList" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</fieldset>
<hr />
<fieldset>
    <legend>
        RESTAURANT SATIŞ LİSTESİ
    </legend>
    <table style="width:100%" id="tblRestaurantItemList">
        <thead>
            <tr>
                <th hidden>
                    <h6 style="color:black">YEMEK NO</h6>
                </th>
                <th>
                    <h4 style="color:black">YEMEK ADI</h4>
                </th>
                <th>
                    <h4 style="color:black">BİRİM FİYAT</h4>
                </th>
                <th>
                    <h4 style="color:black">MİKTAR</h4>
                </th>
                <th>
                    <h4 style="color:black">İNDİRİM</h4>
                </th>
                <th>
                    <h4 style="color:black">TUTAR</h4>
                </th>
            </tr>
        </thead>
    </table>
</fieldset>

<div style="margin-top: 30px">
    <input data-backdrop="static" data-keydrop="false" data-toggle="modal" data-target="#divOdemeSekli" style="float: right" type="button" name="checkout" value="Checkout" id="btnCheckout" class="btn btn-primary"/>
</div>

<div id="divOdemeSekli" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ödeme Şekli</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        Payment Total:
                        <input style="text-align: right" type="text" id="txtPaymentTotal" readonly="readonly" value="0.00" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        Payment Amount:
                        <input style="text-align: right" type="text" id="txtPaymentAmount" value="0.00" class="form-control" />
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                       Return Total:
                        <input style="text-align: right" type="text" id="txtReturnTotal" value="0.00" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        Balance Amount:
                        <input style="text-align: right" type="text" readonly="readonly" id="txtBalance" value="0.00" class="form-control" />
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="btnPayment" value="Payment">Payment</button>
                <button class="btn btn-danger" id="btnClose" data-dismiss="modal" value="close">Close</button>
            </div>
        </div>

    </div>

</div>