@model Tuple<IEnumerable<SelectListItem>, IEnumerable<SelectListItem>, IEnumerable<SelectListItem>>
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Items").val(0);

        $("#Items").change(function () {
            var itemId = $("#Items").val();
            GetItemUnitPrice(itemId);
        });

        $("input[type=text]").change(function () {
            CalculateSubTotal();
        });

        $("#btnAddToList").click(function () {
            AddToTheItemList();
        });
    });

    function RemoveItem(itemId) {
        $(itemId).closest('tr').remove();

    }

    function AddToTheItemList() {
        var tblItemList = $("#tblRestaurantItemList");
        var UnitPrice = $("#txtUnitPrice").val();
        var Quantity = $("#txtQuantity").val();
        var Discount = $("#txtDiscount").val();
        var ItemId = $("#Items").val();
        var ItemName = $("#Items option:selected").text();

        var Total = (UnitPrice * Quantity) - Discount;

        var ItemList = "<tr><td hidden>"
            + ItemId + "</td><td>"
                + ItemName + "</td><td>"
            + parseFloat(UnitPrice).toFixed(2) + "</td><td>"
            + parseFloat(Quantity).toFixed(2) + "</td><td>"
            + parseFloat(Discount).toFixed(2) + "</td><td>"
            + parseFloat(Total).toFixed(2) + "</td><td> <input type='button' value='Remove' name='remove' class='btn btn-danger' onclick='RemoveItem(this)'/> </tr></tr> ";

        tblItemList.append(ItemList);
        FinalItemTotal();
        ResetItem();
    }

    function FinalItemTotal() {
        $("#txtFinalTotal").val("0.00");
        var FinalTotal = 0.00;
        $("#tblRestaurantItemList").find("tr:gt(0)").each(function () {
            var Total = parseFloat($(this).find("td:eq(5)").text());
            FinalTotal += Total;
        });
        $("#txtFinalTotal").val(parseFloat(FinalTotal).toFixed(2));
    }

    function ResetItem() {
        $("#txtUnitPrice").val('');
        $("#txtQuantity").val('');
        $("#txtDiscount").val('0.00');
        $("#Items").val(0);
        $("#txtTotal").val("");
    }

    function CalculateSubTotal() {
        var UnitPrice = $("#txtUnitPrice").val();
        var Quantity = $("#txtQuantity").val();
        var Discount = $("#txtDiscount").val();

        var Total = (UnitPrice * Quantity) - Discount;

        $("#txtTotal").val(parseFloat(Total).toFixed(2));
    }

    function GetItemUnitPrice(itemId) {
        $.ajax({
            async: true,
            type: 'GET',
            datatype: 'JSON',
            contentType: 'application/json; charset=unf-8',
            data: { itemId: itemId },
            url: '/Home/getItemUnitPrice',
            success: function (data) {
                $("#txtUnitPrice").val(parseFloat(data).toFixed(2));
            },
            error: function () {
                alert("There is some problem to get the Unit Price.");
            }
        });
    }
</script>

<style>
    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: rebeccapurple;
        padding-left: 10px !important;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>


<fieldset>
    <legend>
        RESTAURANT
    </legend>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:white">Müşteriler</h3>
                    @Html.DropDownList("Musteri", new SelectList(Model.Item1, "Value", "Text"),
        new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:white">Ödeme Şekli</h3>
                    @Html.DropDownList("OdemeSekli", new SelectList(Model.Item3, "Value", "Text"),
        new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:white">Total</h3>
                    <input style="text-align:right" type="text" value="0.00" name="FinalTotal" readonly="readonly" id="txtFinalTotal" class="form-control"/>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>
        RESTAURANT ITEMS
    </legend>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:white">Item</h3>
                    @Html.DropDownList("Items", new SelectList(Model.Item2, "Value", "Text"),
        new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:white">Unit Price</h3>
                    <input style="text-align: right" type="text" readonly="readonly" id="txtUnitPrice" value="0.00" name="UnitPrice" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:white">Quantity</h3>
                    <input style="text-align: right" type="text" id="txtQuantity" value="0.00" name="Quantity" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:white">Discount</h3>
                    <input style="text-align: right" type="text" id="txtDiscount" value="0.00" name="Discount" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h3 style="color:white">Total</h3>
                    <input style="text-align: right" type="text" readonly="readonly" id="txtTotal" value="0.00" name="Total" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" style="margin-top: 50px" id="btnAddToList" value="Add To List" name="AddToList" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>
        Restaurant Listed Items
    </legend>
    <table style="width:100%" id="tblRestaurantItemList">
        <thead>
            <tr>
                <th hidden>
                    <h6 style="color:white">Item Id</h6>
                </th>
                <th>
                    <h4 style="color:white">Item Name</h4>
                </th>
                <th>
                    <h4 style="color:white">Quantity</h4>
                </th>
                <th>
                    <h4 style="color:white">Discount</h4>
                </th>
                <th>
                    <h4 style="color:white">Total</h4>
                </th>
                <th>
                    <h4 style="color:white">Action</h4>
                </th>
            </tr>
        </thead>
    </table>
</fieldset>

<div style="margin-top: 30px">
    <input style="float: right" type="button" value="Save" id="btnSaveOrder" class="btn btn-primary"/>
</div>